<div class="col-md-12">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <%= link_to "Products", products_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Billings", new_billing_path, class: "btn btn-info btn-lg" %>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>